<div class="menu-bar-container">
    <ul>
        <li>
            <a 
            href="https://github.com/luan-cardoso" target="_blank"> 
            <i class="fa-brands fa-github" style="margin-right: 7px;"></i>Github

            </a>
           
        </li>
        <li>
            <a 
            href="https://www.linkedin.com/in/luanc-santos/" target="_blank">
            <i class="fa-brands fa-linkedin" style="margin-right: 7px;"></i>LinkedIn
            </a>
        </li>
    </ul>
</div>